@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
body{
    font-size: 14px;
    line-height: 1.6em;
    color: #5b6169;
    background-color: #f5f5f5;
    font-family: Lato;
}
ol, ul {
    list-style: none;
}
input, textarea {
    padding: 0 0.4em;
    font-size: 14px;
    line-height: 1.2em;
    height: 2em;
    background-color: #f5f5f5;
    color: #5b6169;
    border: 1px solid #ced0d2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
button, input[type="submit"], input[type="reset"], input[type="button"] {
    padding: 11px 20px;
    background: #fea8d4;
    border: none;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 1px;
    height: auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
    display: inline-block;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background: #db3d3d;
}
a:hover {
    color: #db3d3d;
    -moz-transition: color 500ms;
    -webkit-transition: color 500ms;
    transition: color 500ms;
    text-decoration: none;
}
a {
    color: #ff5555;
    text-decoration: none;
}

.navbar-header{
    background-color: #ff0b5c;
    padding: 30px;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 30px;
}
.navbar-inverse{
    border-color: #222;
}

#shoplogo {
    text-align: center;
    background: #f5447b;
    font-size: 26px;
    line-height: 1.4em;
}
#shoplogo a {
    color: #ffffff;
    text-decoration: none;
}
#shoplogo .logotext {
    display: block;
    padding: 50px 10px;
}
#navbar .cartsummary {
    margin: 1em 25px;
}
#navbar .cartsummary .numitems {
    color: #999;
}
.searchnav {
    margin: 6px 6px 6px 25px;
    position: relative;
}
.searchnav input.text {
    font-size: inherit;
    width: 90%;
    height: 30px;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    background: rgb(241, 241, 241);
}
.searchnav [type=submit] {
    position: absolute;
    top: -3px;
    right: 0;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    color: #666;
    border: 0;
}
.searchnav input[placeholder]{
    padding-left: 10px;
}
#navbar{

}
#navbar ul.menu {
    padding-top: 60px;
}
#navbar li li.active a.menutitle {
    background: #f5447b;
    color: #fedef5;
}
#navbar li li a.menutitle:hover{
    text-decoration: underline;
}
#navbar .mainnav a {
    display: block;
    padding: 6px 25px;
}
#navbar .mainnav{
    position: relative;
}
#navbar .mainnav ul {
    margin: 0;
    font-size: 93%;
}
#navbar .mainnav .first .title {
    left: 0;
}
#navbar .mainnav .title {
    padding: 15px 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    vertical-align: middle;
    width: 50%;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 100%;
}
#navbar .mainnav .active .title {
    color: #cf426e;
}
#navbar .mainnav li ul {
    display: none;
}
.account-links{
    margin: 30px 25px 20px 25px;
}
.account-links a{
    line-height: 1.8em;
    display: block;
}
.social-links a i{
    font-size: 24px;
    line-height: 1.6em;
    margin-right: 0.7em;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.social-links a:hover i {
    color: #ff5555;
    -moz-transition: color 500ms;
    -webkit-transition: color 500ms;
    transition: color 500ms;
    text-decoration: none;
    -webkit-transform: rotate(360deg) scale(1.3);
    -moz-transform: rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    -ms-transform: rotate(360deg) scale(1.3);
    transform: rotate(360deg) scale(1.3);
}
.copy {
    margin: 20px 0;
}
.copy p{
    font-size: 70%;
}
#content {
    overflow: hidden;
}
.block{
    background: #ffffff;
    box-shadow: 5px 5px 5px #ccc;
    border: 3px solid rgba(128, 128, 128, 0.14);
    min-height: 310px;
}
.block.product .sub {
    text-align: center;
    padding: 10px;
    position: relative;
}
.block.product:hover .quick-add-to-panel {
    display: block;
}
.block.product .quick-add-to-panel {
    position: absolute;
    padding: 20px;
    top: 40%;
    text-align: center;
    display: none;
}
.block.product .quick-add-to-panel a{
    color: #fff;
}
.padded20{
  padding: 20px;
}
.padded40{
    padding: 40px;
}
.checkboxx{
    width: 100%;
}
.checkboxx span{
    float: right;
    margin-right: 20px;
}
.book-title{
    margin-left: 2%;
    color: rgba(0,0,0,0.2);
    font-weight: bold;
    position: absolute;
    z-index: 3;
    top: 0;
}
.inputPrice{
    margin: 0 15px;
    width: 30%;
    display: inline-block;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 300px;
}
.btns-cat{
    margin: 0 80px 20px 0;
}
.nextprod {
    float: right;
}
.backtopcatprod a {
    text-transform: uppercase;
}
#product-gallery {
    width: 45%;
    padding-right: 5%;
    float: left;
}
#product-gallery img {
    max-width: 100%;
}
#product-info{
    float:left;
    width: 50%;
}
#product-info .section {
    border-top: 1px solid #cccccc;
    padding: 1.3em 0;
    margin-top: 1em;
}
.productoptions label {
    display: block;
    font-size: 90%;
    margin: 6px 0 1px;
}
#product-info .quantadd {
    text-align: right;
}
#product-info .quantadd #quantity {
    float: left;
    text-align: center;
    margin-right: 4px;
}
#product-info .social {
    font-size: 90%;
    padding: 20px 0;
    border-top: 1px solid #cccccc;
}
#product-info .social .label {
    margin-right: 10px;
}
.social ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.social li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    font-size: 16px;
}
.descriptionunder {
    clear: both;
    width: 90%;
}
.descriptionunder p {
    text-align: justify;
    margin: 15px 30px;
}
.descriptionunder p::first-letter{
    font-size: 2em;
    font-family: Shadows;
    text-transform: uppercase;
}
#product-info .price {
    font-size: 170%;
    line-height: 1.2em;
}
#cartform .item {
    clear: both;
    list-style: none;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
}
#cartform .item a.remove {
    position: absolute;
    top: 28px;
    left: 0;
    text-decoration: none;
    font-weight: bold;
}
#cartform .image {
    width: 80px;
    height: 80px;
    margin: 0 50px 0 25px;
    float: left;
}
#cartform .image img {
    max-height: 100%;
    margin: 0;
}
#cartform .item .desc {
    margin: 26px 170px 0 0;
}
#cartform .item .desc a{
    line-height: 5em;
}
#cartform .item .quantity {
    position: absolute;
    top: 40px;
    right: 90px;
    width: 90px;
}
#cartform .item .line-total {
    margin-top: 5px;
    position: absolute;
    top: 40px;
    right: 0;
    width: 90px;
    text-align: right;
}
.block .divided {
    border-top: 1px solid #f4f4f4;
}
#cartform .finalinfo {
    text-align: center;
}
#cartform .subtotal {
    margin: 10px 0;
    padding-bottom: 5px;
    font-size: 200%;
    line-height: 200%;
}
#cartform .checkoutrow {
    float: right;
}
#customer_login .inputrow, #customer_login .buttonrow {
    clear: both;
    padding-top: 10px;
    padding-left: 120px;
}
#customer_login .inputrow label {
    margin-left: -80px;
    float: left;
}
#customer_login .inputrow textarea, #customer_login .inputrow select {
    width: 95%;
}
#forgot_password{
    margin-left: 61px;
}
.action-bottom{
    margin: 30px 40px;
}

/*panier*/

.top-shop-cart li > a { font-size:20px; display:block; color:#bbc8d5; padding:10px 10px; float:left; margin-left:1px; }
.top-shop-cart li { float:left; padding:0; position:relative; }
/*	.top-shop-cart li.search { position:relative; }
*/	.top-shop-cart { margin:0; padding:0; position:relative; }
.top-shop-cart > a:hover { color:#fff; }
.top-shop-cart.type2 li.search > a, .top-shop-cart.type2 li.dt-sc-cart > a { padding:20px; background-color:#2c3e50; }

.top-shop-cart.type2 .shopping-cart:before { right:15px; }
.top-shop-cart.type2 .shopping-cart:after { right:17px; }
.top-shop-cart.type2 .search-form-box:before { right:20px; }

.dt-sc-cart:hover .shopping-cart { display:block; -webkit-animation: 0.3s ease-in fadeInUp; -moz-animation: 0.3s ease-in 0s fadeInUp; animation: 0.3s ease-in 0s fadeInUp; }
.shopping-cart { float:left; width:100%; background-color:#fff; border:1px solid #eaeaea; min-width:270px; padding:20px 20px 10px 20px; position:absolute; top:50px; right:0; display:none; box-shadow:0 -1px 8px 3px rgba(0, 0, 0, 0.08); }
.shopping-cart:before { content: "\f106"; font-family:FontAwesome; font-size:28px; top:-16px; position:absolute; right:8px; color:#eaeaea; }
.shopping-cart:after { border-color: transparent transparent #fff; border-style: solid; border-width: 7px; content: ""; display: block; height: 0; position: absolute; right: 10px; top: -14px; width: 0; }
.shopping-cart .total { font-size:16px; font-family:"lato",sans-serif; clear:both; color:#333; font-weight:bold; float:left; width:100%; text-align:left; margin-bottom:20px; }
.shopping-cart .total span { float:right; }
.shopping-cart .buttons { float:left; width:100%; }
.shopping-cart .buttons a { float:left; width:100%; display:inline-block; text-align:left; font-size:14px; background-color:#2c3e50; color:#fff; padding:10px 0; text-transform:uppercase; margin-bottom:10px; text-align:center; font-weight:bold; }
.shopping-cart .buttons a:last-child { margin:0; }

.product_cart_list { display:block; margin:0 0 10px; padding:0 0 10px; float:left; width:100%; border-bottom:1px solid #eaeaea; }
.product_cart_list li { display:block; clear:both; margin-bottom:20px; position:relative; width:100%; }
.product_cart_list li a { padding:0; margin:0; text-align:left; font-size:14px; margin-bottom:5px; font-weight:bold; font-family:"lato",sans-serif; float:none; color:#333; line-height:normal; margin-bottom:10px; }
.product_cart_list li a img { max-width:80px; float:left; margin-right:10px; border:1px solid #eaeaea; }
.product_cart_list li a .remove { position:absolute; font-size:12px; color:#fff; left:-7px; top:-7px; background-color:#191919; width:20px; height:20px; border-radius:100%; text-align:center; line-height:20px; }
.product_cart_list .product-details { display:block; float:left; }
.product_cart_list .product-details > span { float:left; padding:0 10px; border:1px solid #ccc; line-height:normal; font-size:12px; color:#333; margin:0 10px 5px 0; }
/*	.product_cart_list .product-details > span:first-child { margin-right:10px; }
*/	.product_cart_list .product-details .amount { color:#21c2f8; }
.product_cart_list .product-details .quantity { text-align:left; display:block; clear:both; font-size:16px; font-family:"lato",sans-serif; font-weight:normal; margin-bottom:5px; color:#333; }
.product-details { margin:0; }




@media (min-width: 768px) {
    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left:0;
        padding-right:0;
    }
    .navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-x: visible;
    }

    .navbar
    {
        border-radius: 0;
        max-width: none;
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header
    {float:none !important;}

    .navbar-right .dropdown-menu {left:0;right:auto;}
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .block{
        margin-bottom: 20px;
    }
    .btns-cat{
        margin: 20px 0 20px 0;
    }
    .input-group{
        margin-bottom: 10px;
    }
    #product-info .quantadd #quantity{
        margin-bottom: 10px;
        float: none;
    }
}