<div class="row">
    <ol class="breadcrumb">
        <li><a href="Index.html">Accueil</a></li>
        <li><a href="#/LesLivres/">Littérature</a></li>
        <li>{{Livre.Nom}}</li>
    </ol>
</div>

<div class="col-md-12">
    <div class="panel" style="padding: 30px 30px 30px 30px;">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object thumbnail" style="max-width: 300px" src="{{Livre.UrlImage}}" alt="...">
                </a>
            </div>
            <div class="media-body" style="padding: 30px 30px 30px 30px;">
                <a href="#/LesLivres" class="btn btn-link"> <i class="fa fa-angle-left" style="margin-right:15px;"></i>Retour</a>
                <div class="page-header">
                    <h1>{{Livre.Nom}}  </h1>
                    <small>{{Livre.Auteur}}</small>
                </div>
                <div>
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active' : activeTab == 1}" ><a ng-click="setActiveTab(1)">Description</a></li>
                        <li ng-class="{'active' : activeTab == 2}"><a  ng-click="setActiveTab(2)">Caractéristiques</a></li>

                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel"
                             ng-class="{'tab-pane active' : activeTab === 1,'tab-pane' : activeTab !== 1}"
                             style="padding: 20px 30px 30px 5px;">
                            <p>
                                {{Livre.Description}}
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane"
                             ng-class="{'tab-pane active' : activeTab === 2,'tab-pane' : activeTab !== 2}"
                             style="padding: 20px 30px 30px 5px;">
                            <div class="form-horizontal" role="form">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <label class="col-lg-5" style="font-weight:bold">ISBN :</label>
                                        <span class="col-lg-5 text-left"> {{Livre.ISBN}} </span>
                                    </div>
                                    <div class="col-lg-10">
                                        <label class="col-lg-5" style="font-weight:bold" >Maison d'édition :</label>
                                        <span class="col-lg-5 text-left"> {{Livre.MaisonEdition}} </span>
                                    </div>
                                    <div class="col-lg-10">
                                        <label class="col-lg-5" style="font-weight:bold" >Nombre Pages :</label>
                                        <span class="col-lg-5 text-left"> {{Livre.NombrePages}} </span>
                                    </div>
                                    <div class="col-lg-10">
                                        <label class="col-lg-5" style="font-weight:bold" >Date Sortie :</label>
                                        <span class="col-lg-5 text-left"> {{Livre.DateSortie}} </span>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<h4 class="text text-danger">Prix: 55<span class="glyphicon glyphicon-euro"></span></h4>-->

                <div>
                    <div class="pull-left">
                        <span class="text-danger" style="font-weight:bold;font-size:18px;">Précommande : </span>

                        <span class="text-danger text-center" style="font-size:35px;">{{Livre.Prix}} TND</span>
                    </div>
                    <div class="input-group col-lg-3 pull-right">
                        <input type="number" class="form-control" ng-model="Livre.Quantite">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="AjouterLivre(Livre)"><i class="fa fa-cart-plus"></i></button>
                        </span>
                    </div>

                </div>
        </div>
            <div class="text-right">Date dernière commande: <span class="text-info text-center">{{Livre.DateDerniereCommande | date:'yyyy-MM-dd à HH:mm'}}</span> </div>
    </div>
</div>

</div>