
<div class="row">
    <ol class="breadcrumb">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Littérature</a></li>
    </ol>
</div>

<div class="blocklayout row">
    <div class="col-md-4" ng-repeat="item in Livres | inferieurA: MaxPrix | orderBy : 'Nom'" style="margin-bottom: 20px;">
        <div class="block product">
            <div class="main">
                <a class="img-link" href="#/Detail/{{item.Id}}" title="{{item.Nom}}">
                    <img src="img/Art-Palette.jpg" alt="Art" width="80%" style="margin-left: 17px;">
                </a>
                <div class="quick-add-to-panel">
                    <div class="input-group col-lg-6 col-lg-offset-3 ">
                        <input type="number" class="form-control" ng-model="item.Quantite" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="AjouterLivre(item)">
                                <i class="fa fa-cart-plus"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="sub">
                <div><a class="title" href="#/Detail/{{item.Id}}"><span>{{item.Nom}}</span></a></div>
                <div><span class="price">{{ item.Prix }} TND</span></div>
                <span class="price"><b>Auteur:</b> {{ item.Auteur }}</span>
            </div>
        </div>
    </div>
</div>

