
<div class="row">
    <div class="col-sm-12">
        <table class="table" style="margin-top: 50px">
            <thead>
                 <tr>
                     <th>Nom</th>
                     <th>Auteur</th>
                     <th>Prix</th>
                     <th>MaisonEdition</th>
                     <th>NombrePages</th>
                     <th>categorie</th>
                     <th>Action</th>
                 </tr>
            </thead>
            <tbody>
            <tr>
                <td><input class="form-control" ng-model="livre.Nom"></td>
                <td><input class="form-control" ng-model="livre.Auteur"></td>
                <td><input class="form-control" ng-model="livre.Prix"></td>
                <td><input class="form-control" ng-model="livre.MaisonEdition"></td>
                <td><input class="form-control" ng-model="livre.NombrePages"></td>
                <td>
                    <select class="form-control"
                            ng-options="cat.Libelle as cat.Id for cat in Categories track by cat.Id"
                            ng-model="livre.Categorie">
                    </select>
                </td>
                <td><button class="btn btn-primary" ng-click="addLivre()">Ajouter</button></td>
            </tr>
            <tr ng-repeat="livre in Livres">
                <td>{{livre.Nom}}</td>
                <td>{{livre.Auteur}}</td>
                <td>{{livre.Prix}}</td>
                <td>{{livre.MaisonEdition}}</td>
                <td>{{livre.NombrePages}}</td>
                <td>{{livre.Categorie}}</td>
                <td><button class="btn btn-danger btn-xs" ng-click="removeLivre(livre.Id)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button></td>
            </tr></tbody>
        </table>
    </div>
</div>