
<div class="row">
    <div class="col-sm-12">
        <table class="table" style="margin-top: 50px">
            <thead>
                 <tr><th>Nom</th><th>Auteur</th><th>Prix</th><th>MaisonEdition</th><th>NombrePages</th></tr>
            </thead>
            <tbody><tr ng-repeat="livre in Livres">
                <td>{{livre.Nom}}</td>
                <td>{{livre.Auteur}}</td>
                <td>{{livre.Prix}}</td>
                <td>{{livre.MaisonEdition}}</td>
                <td>{{livre.NombrePages}}</td>
            </tr></tbody>
        </table>
    </div>
</div>